fastapi==0.115.6
uvicorn[standard]==0.32.1
SQLAlchemy==2.0.36
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.6.1
python-multipart==0.0.17
bcrypt==5.0.0
PyJWT==2.10.1
email-validator==2.2.0
pymysql==1.1.1
orjson==3.10.12
